@import 'tailwindcss';

@theme {
	--animate-note-pulse: note-pulse 120ms ease-out;
	@keyframes note-pulse {
		0%,
		100% {
			filter: brightness(1);
			transform: scale(1);
		}
		50% {
			filter: brightness(2.0);
			transform: scale(1.3);
		}
	}
}

html {
	user-select: none;
}
